/* global css reset  */
/* *,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  border: none;
  overflow-x: hidden;
} */

/* default  16px => relative units   width 120px abolute  1rem units 16px 10/16 => .650 * 100 = 62.5%
1rem => 10px  */


/* body{
  box-sizing: border-box;
  line-height: 1.5;
} */

nav {
    padding: 0;
    margin: 0;
    background-color: black;
    box-sizing: border-box;
    margin-bottom: 250px;
  }
  
  .menu-bar {
    /* margin-top: 50px; */
    font-family: serif;
    list-style: none;
    background-color: rgb(227, 62, 1);
    text-align: center;
  }
  
  .menu-bar ul {
    display: inline-flex;
    list-style: none;
    gap: 20px;
    left: 120px;
    color: white;
  }
  
  .menu-bar ul li {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
  
  .menu-bar ul li a {
    text-decoration: none;
    color: white;
  }
  
  .active,
  .menu-bar ul li:hover {
    background: black;
    border-radius: 3px;
  }
  
  /* .menu-bar .fa{
    margin-right: 8px
  } */
  
  .sub-menu-1 {
    display: none;
  }
  
  .sub-menu-2 {
    display: none;
  }
  
  .menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: red;
    margin-top: 5px;
    margin-left: -10px;
  }
  
  /* .menu-bar ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    background: red;
    margin-top: 5px;
    margin-left: -15px;
  } */
  
  .menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 20px;
  }
  
  /* .menu-bar ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 5px;
  } */
  
  .menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 10px;
    border-bottom: 1px solid white;
    background: transparent;
    border-radius: 0;
    text-align: left;
  }
  
  .menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
  }
  
  .menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: black;
  }
  
  /* .menu-bar ul li:hover .sub-menu-2 ul li{
    width: 100px;
    padding: 10px;
    border-bottom: 1px solid white;
  } */

  /*card styling*/
/* From Uiverse.io by mrhyddenn */ 
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .card_box {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    
    
    border: 1px solid black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all .3s;
    padding: 20px;
    flex-basis: 300px;
    margin-left: 10px;
  }
  
  .card_box:hover {
    transform: scale(0.9);
  }
  
  .card_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_box span::before {
    content: 'Offer';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
    transform: rotate(45deg) translateY(-20px) ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
 
    
  }
  
  .card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    right: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  }


  .card_box h1{
    margin-top: 0px;
    margin-right: 30px;
    font-size: 50px;
  }

  .broo{
    text-align: center;
    font-size: 50px;
    font-style: bold;
    color: red;
    }


    /* FOOTER */
footer {
    background-color: #000;
    color: white;
    
  }
  
  .footer-img {
    height: 100px;
  }
  
  .footer-section2 ul li a{
    list-style: none;
  }
  
  .footer-content {
    list-style: none;
  
    color: white;
    margin-top: 50px;
    justify-content: space-between;
    row-gap: 40px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .footer-content ul {
    list-style: none;
  }
  .footer-content a {
    text-decoration: none;
    color: white;
  }
  .footer-bottom{
    margin-top: 50px;
    margin-left: 600px;
  }
  